{{#if showActions}}
  <ul class='actions'>
    <li>
      <button onclick={{action editCard}} type='button'>Edit</button>
    </li>
  </ul>
{{/if}}

<div class='row'>
  <div class='col-xs-6 col'>
    Col 1
  </div>
  <div class='col-xs-6 col'>
    Col 2
  </div>
</div>

